body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right, #202529 16.7%, #101111 5%); /* Gradient dari kiri ke kanan */
}

#layoutSidenav {
    display: flex;
    min-height: 200vh;
    background-color: #101010;
}

#layoutSidenav_nav {
    flex: 0 0 250px; /* Lebar sidebar */
    background-color: #1C1C1E;
    color: #ffffff; /* Warna teks sidebar */
    overflow: auto; /* Enable scrolling jika konten terlalu panjang */
}

#layoutSidenav_content {
    flex: 1; /* Gunakan ruang yang tersisa untuk content */
    background-color: #101111;
    color: #ffffff; /* Warna teks content */
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 20px;
}

img {
    object-fit: cover;
}

.grid > article {
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    background: whitesmoke;
    width: 100px;
    transition: transform;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
}
.grid > article img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /*width: 100%;*/
}
.konten {
    cursor: progress;
}

.grid > article:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

@media (max-width:1000px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:800px) {
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}

